// Colors - Fulenwider

$lime: #b6f598;
$green: #6fbf49;
$black: #2b2b2d;
$grey: #6d6e71;
$purple: #b166a9;
$teal: #31939f;
$aqua: #38b29e;
$light-mint: #c5e3d7;
$blue: #2b6161;
$tennis-green: #91c14a;
$nintendo-green: #1f9e4b;
$yellow: #f7c737;
$light-grey: #dbdad1;
$orange: #e47232;
$header-blue: #041131;
$orange-hover: #d07400;
$periwinkle: #75818e;
$nav-blue: #253763;