// Header

header {
  height: 75px;
  background: $header-blue;
  @include breakpoint(medium) {
  	height: 95px;
  }
  .row {
  	height: 75px;
  	@include breakpoint(medium) {
	  	height: 95px;
	  }
  }
  .col-xs-9,
  .col-sm-9 {
  	-webkit-align-items: center;
  	-ms-align-items: center;
	  align-items: center;
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;
		height: 100%;
  }
  .col-sm-8 {

  }
}


// Logo

#site-logo img {
  max-height: 45px;
  max-width: 100%;
  @include breakpoint(large) {
    max-height: none;
  }
}


// Google Translator 
img.goog-te-gadget-icon {
	display: none;
}
a.goog-te-menu-value {
	span {
		display: none;
	}
	&:after {
		content: url(/LCF/images/flag-usa.png);
		position: relative;
		top: 1px;
	}
}
.goog-te-gadget-simple {
	background-color:transparent !important; 
	border:0px !important; 
	margin-top:10px;
}
#google_translate_element { 
  position: absolute;
  top: -4px;
}


// Sticky Header
header.stick {
  position: fixed;
  top: 0px;
  height: 75px;
  left: 0px;
  width: 100%;
  z-index: 100000;
  @include breakpoint(medium) {
    height: 95px;
  }
  .row {
    height: 75px;
    @include breakpoint(medium) {
      height: 95px;
    }
  }
  #utility-wrapper {
    // visibility: hidden;
    top: -25px;
  }
  #site-logo {
    a {
      height: 45px;
      width: 135px;
      background: url("/Energize/images/sticky-logo.png") no-repeat;
    }
  }
  #main-nav-wrapper {
    height: 40px;
  }
  #nav-wrapper {
    height: 75px;
  }
  .mobileBtn {
    top: 18px;
  }
}

#navPlaceHolder {
  height: 75px !important;
}