// Home


// Welcome Area

#webpart-area-1 {
	padding: 50px 0;
	.editable-text {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 300;
		padding-top: 15px;
		strong {
			color: #222;
		}
	}
	a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzWelcomeText_Link_SmartCity_btnElem_hyperLink {
		@include orange-button;
	  width: auto;
	  display: inline-block;
	  margin: 10px 0 50px;
	  @include breakpoint(small) {
	  	margin-bottom: 0;
	  }
	}
}


// Headers

#home-wrapper h1 {
	@include home-header;
}


// Featured Projects

#webpart-area-2 .col-xs-12 {
	padding: 0;
}

#projects-carousel {
	.teaser-wrapper {
	  height: 264px;
	  position: relative;
    text-align: center;
	}
	.image {
	  position: relative;
	  padding: 15px;
	  width: 100%;
	}
	.title {
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.title,
	.view-details {
		display: none;
	}
	.view-details {
		@include orange-button;
		width: 85%;
	}
	.overlay {
	  height: 255px;
	  position: absolute;
	  top: 15px;
	  width: 360px;
	  margin-left: 15px;
	}
	.overlay-content {
	  position: absolute;
	  text-align: center;
	  top: 35%;
	  width: 100%;
	}
}


// Featured Projects: Hover Styles

#projects-carousel {
	.teaser-wrapper:hover {
		.overlay {
			background: rgba(0,0,0,0.8);
		}
		.title,
		.view-details {
			display: block;
		}
	}
}


// Featured Projects: Arrows

#projects-arrows {
  height: 100px;
  position: relative;
  text-align: center;
	width: 100%;
	.prev-button,
	.next-button {
		background: $nav-blue;
		color: #fff;
		font-size: 40px;
		position: static;
		border-radius: 20px;
	  width: 40px;
		&:hover {
			background: #fff;
			color: $nav-blue;
		}
	}
	.prev-button {
		margin-right: 35px;
	}
	.prev-next {
		margin-left: 35px;
	}
}


// Testimonials

#webpart-area-3 {
  width: 100%;
  overflow: hidden;
}

#testimonials-carousel {
	position: relative;
	margin-bottom: 0;
	.testimonial {
		.background {
		  height: 550px;
		  position: relative;
		  width: 100%;
		  img {
			  height: 100%;
			  position: absolute;
			}
		}
		.quote {
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			font-style: italic;
			font-weight: 300;
		  -webkit-justify-content: center;
		  -ms-justify-content: center;
		  justify-content: center;
		  display: -webkit-flex;
		  display: -ms-flex;
		  display: flex;
		  -webkit-flex-direction: column;
		  -ms-flex-direction: column;
		  flex-direction: column;
		  height: 100%;
		  padding: 0 5%;
		  position: absolute;
		  width: 100%;
		  z-index: 1;
			@include breakpoint(small) {
				font-size: 24px;
				padding: 0 15%;
			}
		}
		.credit {
			font-size: 16px;
		}
		.testimonial-link {
			display: block;
			text-align: center;
		}
	}
	.slick-dots {
	  top: 30px;
	  li.slick-active button:before {
		  color: $orange;
		  opacity: 1;
		}
		li button {
			&:before {
				color: #fff;
			  font-size: 12px;
				opacity: 1;
			}
			&:hover:before {
				opacity: 0.75;
			}
		}
	}
}
