// Secondary


// Typography

#secondary-wrapper {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	h2, h3, h4, h5, h6 {
		color: $header-blue;
	}
	h2, h3 {
		font-family: 'Roboto Slab', sans-serif;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 26px;
	}
	h4, h5, h6 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	ul, ol {
		line-height: 1.7;
		margin-bottom: 15px;
	}
	ul {}
	ol {}
}

#secondary-wrapper img {
	max-width: 100%;
}


// Page Wrapper

#secondary-wrapper,
#secondaryMainContent {
  padding: 35px 0;
}


// Page Title
#page-title {
	color: $header-blue;
	font-family: 'Roboto Slab', serif;
	font-size: 42px;
}


// My Fav's Toolbar

.PageUtility {
	.PageUtility_Wrapper {
		width: 300px;
	}
	#Utility_MyFavorites, 
	#Utility_AddPage, 
	#Utility_Print,
	#Utility_Share {
		border: none !important;
		color: $orange;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		padding: 7px 2px 8px 1px;
		&:hover {
			color: $orange-hover;
		}
		&:after {
			content: "::";
			padding: 0 5px;
		}
		.ImgBg {
			visibility: hidden;
		}
		a {
			color: $orange;
			&:hover {
				color: $orange-hover;
			}
		}
	}
	#Utility_Share:after {
		content: "";
	}
	.PageUtility_Dropdown { 
		-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.64); 
		-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.64); 
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.64); 
	}
}
